Source: anvil
Section: devel
Priority: optional
Maintainer: Michael Grünewald <michipili@gmail.com>
Build-Depends: debhelper (>= 9), autoconf, bsdowl
Standards-Version: 3.9.5
Homepage: https://github.com/michipili/anvil
Vcs-Git: git://github.com/michipili/anvil.git
Vcs-Browser: https://github.com/michipili/anvil/tree/debian

Package: anvil
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bsdowl
Description: Software package assistant
 This is Anvil, a software package assistant:
 .
 - It features repository filters handling whitespace and encodings.
 - It features a sed-based respoitory filter.
 - It features a nice pre-commit hook enforcing whitespace
   and filename policies.
 - It features an elementary git releng command.
